#firstLine {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.sectionIntro {
  font-weight: 100;
  color: blue;
}

.comment {
  font-style: italic;
}

.emphasize {
  font-weight: bold;
}

.gameTitleSection {
  text-decoration: underline overline;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1.color {
  color: blue;
}

ul.color {
  color: red;
}

ol.color {
  color: purple
}

.gowPar {
  background-color: lightblue;
  border: solid black;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.gowPar img {
  margin: auto;
  width: 50%;
}

.sidebar {
  width: 30%;
  float: right;
  color: white;
  background-color: black;
}

.float-container {
  display: block;
  margin-bottom: 200px;
}

.float-child {
  float: left;
  padding: 10px;
}

.more-games {
  background-color: grey;
}

.rocket-league-profile {
  background-color: pink;
}

.rocket-league-profile ul {
  border: 2px solid;
}

.rocket-league-profile ul li span {
  font-weight: bold;
}